<div class="message">{{ message }}</div>

<div *ngIf="listaCafele">
  <div class="container">
    <mat-form-field appearance="fill" class="input">
      <mat-label>Caută produsul</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="nume cafea"
        #input
      />
    </mat-form-field>

    <table
      mat-table
      [dataSource]="tableSource"
      class="mat-table"
      matSort
      (matSortChange)="sortData($event)"
    >
      <ng-container matColumnDef="coffee_header">
        <th mat-header-cell *matHeaderCellDef colspan="3" class="centered">
          Cafele
        </th>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="id">ID</th>
        <td mat-cell *matCellDef="let cafele">
          {{ cafele.id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="denumire">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="denumire">
          Denumire
        </th>
        <td mat-cell *matCellDef="let cafele">{{ cafele.denumire }}</td>
      </ng-container>

      <ng-container matColumnDef="descriere">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="descriere">
          Descriere
        </th>
        <td mat-cell *matCellDef="let cafele">{{ cafele.descriere }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="coffee_header"></tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
